<div class="column gap-1">
  <!-- add button -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
    label="Add Product"
  ></button>

  <!--product section-->
  <div class="row wrap gap-1 space-between">
    @for (product of products; track product.id) {
    <app-product
      [product]="product"
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"
    ></app-product>
    }
  </div>
  <!--pagination-->

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
  />
</div>
<!-- edit popup -->
<app-edit-popup
  [(display)]="displayEditPopup"
  header="Edit Product"
  [product]="selectedProduct"
  (confirm)="onConfirmEdit($event)"
>
</app-edit-popup>

<!-- add popup -->
<app-edit-popup
  [(display)]="displayAddPopup"
  header="Add Product"
  (confirm)="onConfirmAdd($event)"
>
</app-edit-popup>
